<h2>Edit article: <%= link_to h(@article.title), @article.url %></h2>

<% form_for @article do |form| %>
  <div class="sources">
    <% fields_for @article do |f| -%>
      <ul>
        <% @sources.each_with_index do |source, i| -%>
          <li>
            <%= f.radio_button :source_id, source.id, :checked => i.zero? %>
            <%= f.label "source_id_#{source.id}", h(source.name) %>
          </li>
        <% end %>
        <li>
          <%= f.radio_button :source_id, "other" %>
          <%= f.label "source_id_other", "Other" %>
        </li>
      </ul>
    <% end -%>
    
    <% fields_for @source do |f| -%>
      <%= f.label :name, "Source" %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  
  <% fields_for @article do |f| -%>
    <%= f.hidden_field :url %>
    <%= submit_tag "Save" %>
  <% end -%>
<% end %>

