<h2>Edit article: <%= link_to h(@article.title), @article.url %></h2>

<% form_for @article do |form| %>
  <div class="sources">
    <% unless @sources.empty? %>
      <% fields_for @article do |a| %>
        <ul>
          <% @sources.each do |source| %>
            <li>
              <%= a.radio_button :source_id, source.id %>
              <%= a.label "source_id_#{source.id}", h(source.name) %>
            </li>
          <% end %>
          <li>
            <%= a.radio_button :source_id, "other" %>
            <%= a.label "source_id_other", "Other" %>
          </li>
        </ul>
      <% end %>
    <% end %>
    
    <% fields_for @source do |s| %>
      <%= s.label :name, "Source" %>
      <%= s.text_field :name %>
    <% end %>
  </div>
  
  <% fields_for @article do |a| %>
    <%= a.hidden_field :url %>
    <%= submit_tag "Save" %>
  <% end %>
<% end %>

